<img id="background-recipes" src="https://res.cloudinary.com/dbtmrinwa/image/upload/f_auto,q_auto/mclwnysu101ogudwnvo0"
    alt="">
<h2 class="header text-center mt-3">Add event</h2>
<div class="row card justify-content-center text-center">
    <form action="/events/add" method="POST" enctype="multipart/form-data">
        <div class="col-12 mt-3 ">
            <div class="row">
                <div class="col-6 mb-5 ">

                    <label for="title" class="form-label fields d-block">Name Event</label>
                    <input class="btn btn-light fields w-75" type="text" id="title" name="title" placeholder="Title">
                </div>
                <div class="col-6 mb-5 ">
                    <label for="autolocation" class="form-label d-block">Location</label>
                    <input id="autolocation" class="btn btn-light fields w-75 controls" type="text"
                        placeholder="Enter a location" name="address">
                </div>
                <div class="col-6 mb-5 ">

                    <label for="Date" class="form-label fields d-block">Date</label>
                    <input class="btn btn-light fields w-75" type="datetime-local" id="Date" name="date">
                </div>

                <div class="col-6 mb-5">
                    <label for="imageInput" class="form-label fields d-block">Choose avatar photo</label>
                    <input class="btn btn-light form-control form-control-sm fields w-75" id="imageInput" type="file"
                        name="icon">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <label for="bio" class="form-label">Description</label>
                <textarea class="form-control description" id="bio" rows="3" name="description"
                    placeholder="Insert your bio"></textarea>
            </div>
        </div>
        {{#if errorMessage}}
        <div class='bg-warning mb-2 text-center' id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
        <button class="button-62 m-3" type="submit">Create</button>
    </form>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9cparf9WJ2kLOCPmr_4e_NRdstbvHob0&libraries=places&callback=initMap"
    async defer>
    </script>
<script src="/js/autocomplete.js"></script>