<H1>Events</H1>
<br>

{{#if isAdmin}}
<a href="/events/add">Add an event</a>
{{/if}}
<hr>
<div class="row">
    {{#each events}}
    <div class="col-12 card text-center mt-3 bg-light pt-3">
        <h2>{{title}}</h2>
        <hr>
        <p>{{description}}</p>
        <hr>
        <a href="/events/{{_id}}/info" class=" btn btn-dark">More info</a>
        <hr>
        <a href="/events/{{_id}}/delete" class="btn btn-danger">Delete</a>
    </div>
    {{/each}}
</div>