<img id="background-recipes" src="https://res.cloudinary.com/dbtmrinwa/image/upload/f_auto,q_auto/mclwnysu101ogudwnvo0"
    alt="">
<h2 class="header text-center mt-3">Register</h2>
<div class="row card justify-content-center text-center">
    <form action="/auth/sign-up" method="POST" enctype="multipart/form-data">
        <div class="col-12 mt-3 ">
            <div class="row">
                <div class="col-6 mb-5 ">

                    <label for="usernameInput" class="form-label fields d-block">Username</label>
                    <input class="btn btn-light fields w-75" type="text" id="usernameInput" name="username"
                        placeholder="Username">
                </div>
                <div class="col-6 mb-5 ">
                    <label for="emailInput" class="form-label fields d-block">Email adress</label>
                    <input class="btn btn-light fields w-75" type="email" id="emailInput" name="email"
                        placeholder="Insert email">
                </div>
                <div class="col-6 mb-5 ">

                    <label for="pwdInput" class="form-label fields d-block">Password</label>
                    <input class="btn btn-light fields w-75" type="password" id="pwdInput" name="userPwd"
                        placeholder="Password">
                </div>

                <div class="col-6 mb-5">
                    <label for="imageInput" class="form-label fields d-block">Choose avatar photo</label>
                    <input class="btn btn-light form-control form-control-sm fields w-75" id="imageInput" type="file"
                        name="avatar">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <label for="bio" class="form-label">Bio</label>
                <textarea class="form-control description" id="bio" rows="3" name="bio"
                    placeholder="Insert your bio"></textarea>
            </div>
        </div>
        {{#if errorMessage}}
        <div class='bg-warning mb-2 text-center' id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
        <button class="button-62 m-3" type="submit">Completed</button>
    </form>
</div>
<script src="/js/recipe.js"></script>