<section id="main">
    <video id="background-video"
        src="https://res.cloudinary.com/dbtmrinwa/video/upload/f_auto:video,q_auto/bomvng0ih88fvkh7jzyf" muted autoplay
        loop></video>
</section>

<div class="row justify-content-center mt-5">
    <div class="col-4">
        <img class='w-100' src="https://res.cloudinary.com/dbtmrinwa/image/upload/v1692193446/hv81ni4penqfhjdy7pog.png"
            alt="">
    </div>
</div>