<div class="container">
    <h1>Bienvenid@, {{loggedUser.username}}</h1>
    <hr>
    <div class="row">
        <div class="col-3">
            <img class='img-responsive w-100' src="{{loggedUser.avatar}}" alt="avatar">
        </div>
    </div>
    <h3>Your bio:</h3>
    <p>{{loggedUser.bio}}</p>
    <a class="btn btn-dark" href="/user/{{loggedUser._id}}/edit">Edit</a>
    <a class="btn btn-dark" href="/user/my-recipes">My recipes</a>
    <a class="btn btn-dark" href="/recipes/favorites">My Favorite recipes</a>
    {{#if isAdmin}}
    <a class="btn btn-dark" href="/user/list">View all users</a>
    {{/if}}
    <hr>
    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>